.ui.button.sign-up {
  padding: 0;
  background-color: #f8f8f9;
  color: #5EC37C;
}

.ui.center.aligned.header, .ui.centered.header {
  color: #5EC37C;
}

.sign-up {
  background: none;
}

#missing-name-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-email-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-password-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-ticker-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-quantity-message {
  color: red;  
  margin: 0;
  display: none;
}

#error-message {
  color: red;  
}

.search-result.error{
  color: red;
}

#navbar {
  background-color: #5EC37C;
  height: 100px;
  display: flex;
}

h1 {  
  text-align: center;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#welcome-message {
  margin: auto;
  padding: 20px 0;
  flex: 1
}

#navbar-left {
  flex: 1;
}

#navbar-buttons {
  flex: 1;
  display: flex;
}

.ui.button.btn {
  margin: 0 auto;
  flex: 1;
  font-size: 20px;
  background-color: #5EC37C
}

.ui.fluid.button {
  background-color: #5EC47C;
}

#portfolio-page {
  display: flex;   
}

#portfolio {
  flex: 1;
}

#stock-search {
  flex: 1;
  margin: 0 auto;
  border: #5EC37C;
  height: 600px;
}

input {
  display: block;
  margin: 5px auto;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  /* border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; */
}

.stock-buy-input {
  -webkit-appearance: none;
  border: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;  
}

#stock-search-form {
  display: block;
  margin: 75px auto 5px;
  width: 300px;  
}

h5 {
  margin: 5px;
  text-align: center;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

p {
  text-align: center;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}

#buy-stock-form {
  display: none;  
  text-align: center;
}

#buy-btn {
  margin-left: auto;
  margin-right: auto;
}

#cant-afford-message {
  display: none;
  text-align: center;
  color: red;
}

#success-buy-message {
  display: none;
  text-align: center;
  color: green;
  margin: 75px 0px 15px auto;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.portfolio-stock {
  display: flex;
  margin: 0px auto;  
}

.portfolio-stock-info {
  flex: 1;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}

#portfolio {
  margin: 75px auto 5px;
  width: 300px;
}

#refresh-btn {
  margin: 0 auto;
  display: none;
}

.loader {
  display: block;  
  margin: 75px auto 5px;
}

#portfolio-heading {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 20px;
}

.submit-btn {
  width: 175px;
  height: 30px;
  border-radius: 0%;
}

Header {
  color: #5EC37C;
}

#purchase-loader {
  display: none;
  margin: 100px auto 5px;
}

.transaction-item {  
  border-bottom-style: solid;
  border-bottom-color: #5EC37C;
  padding: 5px;
  padding-bottom: 10px;
}

#no-transcation {
  padding: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 20px;  
}