.ui.button.sign-up {
  background: #f8f8f9; 
  padding: 0;
  color: #00b5ad;
}

#missing-email-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-password-message {
  color: red;  
  margin: 0;
  display: none;
}

#error-message {
  color: red;  
}