.ui.button.sign-up {
  background: #f8f8f9; 
  padding: 0;
  color: #00b5ad;
}

#missing-name-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-email-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-password-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-ticker-message {
  color: red;  
  margin: 0;
  display: none;
}

#missing-quantity-message {
  color: red;  
  margin: 0;
  display: none;
}

#error-message {
  color: red;  
}

.search-result.error{
  color: red;
}

#navbar {
  background-color: grey;
  height: 100px;
  display: flex;
}

h1 {  
  text-align: center;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#welcome-message {
  margin: auto;
  padding: 20px 0;
  flex: 1
}

#navbar-left {
  flex: 1;
}

#navbar-buttons {
  flex: 1;
  display: flex;
}

.ui.button.btn {
  margin: 0 auto;
  flex: 1;
  font-size: 20px;
  background: grey;
}

#portfolio-page {
  display: flex;
}

#portfolio {
  flex: 1;
}

#stock-search {
  flex: 1;
  margin: 0 auto;
  border: #00b5ad;
  height: 600px;
}

input {
  display: block;
  margin: 5px auto;
}

#stock-search-form {
  display: block;
  margin: 75px auto 5px;
  width: 300px;  
}

h5 {
  margin: 5px;
  text-align: center;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

p {
  text-align: center;
}

#buy-stock-form {
  display: none;  
  text-align: center;
}

#buy-btn {
  margin-left: auto;
  margin-right: auto;
}

#cant-afford-message {
  display: none;
  text-align: center;
  color: red;
}

#success-buy-message {
  display: none;
  text-align: center;
  color: green;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.portfolio-stock {
  display: flex;
  margin: 0px auto;  
}

.portfolio-stock-info {
  flex: 1;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}

#portfolio {
  margin: 75px auto 5px;
  width: 300px;
}